<%-include('adminheader')%>

  <div class="clearfix"></div>

  <div class="content-wrapper">
    <div class="container-fluid">

      <div class="row mt-3">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="card-title">Vertical Form</div>
              <hr>
              <form action="/admin/addstudent" method="post" enctype="multipart/form-data" class="d-flex">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="input-1">Name</label>
                    <input type="text" class="form-control" name="name" id="input-1"
                      placeholder="Enter Your Name">
                  </div>
                  <div class="form-group">
                    <label for="input-2">Email</label>
                    <input type="email" class="form-control" id="input-2" name="email"
                      placeholder="Enter Your Email Address">
                  </div>
                  <div class="form-group">
                    <label for="input-4">Password</label>
                    <input type="text" class="form-control" name="password" id="input-4" placeholder="Enter Password">
                  </div>
                  <div class="form-group">
                    <label for="input-3">Mobile</label>
                    <input type="text" class="form-control" id="input-3" name="mobile"
                      placeholder="Enter Your Mobile Number">
                  </div>
                  <div class="form-group">
                    <label for="input-5">img</label>
                    <input type="file" class="form-control" name="img" id="input-5" placeholder="img">
                  </div>
                  <div class="form-group py-2">
                    <div class="icheck-material-white">
                      <input type="checkbox" id="user-checkbox1" checked="" />
                      <label for="user-checkbox1">I Agree Terms & Conditions</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i> Register</button>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="input-3">fees</label>
                    <input type="text" class="form-control" id="input-3" name="fees"
                      placeholder="Enter Your Mobile Number">
                  </div>
                  <div class="form-group">
                    <label for="input-3">course</label>
                    <input type="text" class="form-control" id="input-3" name="course"
                      placeholder="Enter Your Mobile Number">
                  </div>
                  <div class="form-group">
                    <label for="input-3">parents mobile</label>
                    <input type="text" class="form-control" id="input-3" name="parentsMobile"
                      placeholder="Enter parents Mobile Number">
                  </div>
                  <div class="form-group">
                    <label for="input-3">address</label>
                    <input type="text" class="form-control" id="input-3" name="address"
                      placeholder="Enter Your address">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

      </div>
      <!-- End container-fluid-->

    </div><!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->

    <!--Start footer-->
    <footer class="footer">
      <div class="container">
        <div class="text-center">
          Copyright © 2018 Dashtreme Admin
        </div>
      </div>
    </footer>
    <!--End footer-->

    <!--start color switcher-->
    <div class="right-sidebar">
      <div class="switcher-icon">
        <i class="zmdi zmdi-settings zmdi-hc-spin"></i>
      </div>
      <div class="right-sidebar-content">

        <p class="mb-0">Gaussion Texture</p>
        <hr>

        <ul class="switcher">
          <li id="theme1"></li>
          <li id="theme2"></li>
          <li id="theme3"></li>
          <li id="theme4"></li>
          <li id="theme5"></li>
          <li id="theme6"></li>
        </ul>

        <p class="mb-0">Gradient Background</p>
        <hr>

        <ul class="switcher">
          <li id="theme7"></li>
          <li id="theme8"></li>
          <li id="theme9"></li>
          <li id="theme10"></li>
          <li id="theme11"></li>
          <li id="theme12"></li>
          <li id="theme13"></li>
          <li id="theme14"></li>
          <li id="theme15"></li>
        </ul>

      </div>
    </div>
    <!--end color switcher-->

  </div><!--End wrapper-->


  <!-- Bootstrap core JavaScript-->
  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>

  <!-- simplebar js -->
  <script src="/plugins/simplebar/js/simplebar.js"></script>
  <!-- sidebar-menu js -->
  <script src="/js/sidebar-menu.js"></script>

  <!-- Custom scripts -->
  <script src="/js/app-script.js"></script>

  </body>

  </html>